package {{.DAOImplPackage}};

import com.mybatisflex.spring.service.impl.ServiceImpl;
import org.springframework.stereotype.Repository;
import lombok.RequiredArgsConstructor;
import {{.MapperPackage}}.{{.MapperClassName}};
import {{.DOPackage}}.{{.DOClassName}};
import {{.DAOPackage}}.{{.DAOClassName}};

@Repository
@RequiredArgsConstructor
public class {{.DAOImplClassName}} extends ServiceImpl<{{.MapperClassName}}, {{.DOClassName}}> implements {{.DAOClassName}} {

    private final {{.MapperClassName}} {{.MapperVarName}};
}