package {{.MapperPackage}};

import com.mybatisflex.core.BaseMapper;
import org.apache.ibatis.annotations.Mapper;
import {{.DOPackage}}.{{.DOClassName}};

@Mapper
public interface {{.MapperClassName}} extends BaseMapper<{{.DOClassName}}> {
}