package {{.MapperPackage}};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;
import {{.DOPackage}}.{{.DOClassName}};

@Mapper
public interface {{.MapperClassName}} extends BaseMapper<{{.DOClassName}}> {
}