package {{.DOPackage}};

import com.baomidou.mybatisplus.extension.service.IService;
import com.example.model.{{.DOClassName}};

public interface {{.DAOClassName}} extends IService<{{.DOClassName}}> {
}