package {{.DAOPackage}};

import com.baomidou.mybatisplus.extension.service.IService;
import {{.DOPackage}}.{{.DOClassName}};

public interface {{.DAOClassName}} extends IService<{{.DOClassName}}> {
}